[submodule "vim-plugin/rdnetto/YCM-Generator"]
	path = vim-plugin/rdnetto/YCM-Generator
	url = https://github.com/rdnetto/YCM-Generator
[submodule "vim-plugin/ericcurtin/CurtineIncSw.vim"]
	path = vim-plugin/ericcurtin/CurtineIncSw.vim
	url = https://github.com/ericcurtin/CurtineIncSw.vim
[submodule "vim-plugin/tomasr/molokai"]
	path = vim-plugin/tomasr/molokai
	url = https://github.com/tomasr/molokai
[submodule "vim-plugin/majutsushi/tagbar"]
	path = vim-plugin/majutsushi/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim-plugin/jiangmiao/auto-pairs"]
	path = vim-plugin/jiangmiao/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "vim-plugin/vim-airline/vim-airline"]
	path = vim-plugin/vim-airline/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim-plugin/sheerun/vim-polyglot"]
	path = vim-plugin/sheerun/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "vim-plugin/Yggdroot/indentLine"]
	path = vim-plugin/Yggdroot/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule "vim-plugin/scrooloose/nerdtree"]
	path = vim-plugin/scrooloose/nerdtree
	url = https://github.com/scrooloose/nerdtree
