[submodule "vim-plugin/ericcurtin/CurtineIncSw.vim"]
	path = vim-plugin/ericcurtin/CurtineIncSw.vim
	url = https://github.com/ericcurtin/CurtineIncSw.vim
[submodule "vim-plugin/tomasr/molokai"]
	path = vim-plugin/tomasr/molokai
	url = https://github.com/tomasr/molokai
[submodule "vim-plugin/majutsushi/tagbar"]
	path = vim-plugin/majutsushi/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim-plugin/jiangmiao/auto-pairs"]
	path = vim-plugin/jiangmiao/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "vim-plugin/vim-airline/vim-airline"]
	path = vim-plugin/vim-airline/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim-plugin/sheerun/vim-polyglot"]
	path = vim-plugin/sheerun/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "vim-plugin/Yggdroot/indentLine"]
	path = vim-plugin/Yggdroot/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule "vim-plugin/scrooloose/nerdtree"]
	path = vim-plugin/scrooloose/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim-plugin/vim-syntastic/syntastic"]
	path = vim-plugin/vim-syntastic/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "vim-plugin/rhysd/vim-clang-format"]
	path = vim-plugin/rhysd/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format
[submodule "vim-plugin/kana/vim-operator-user"]
	path = vim-plugin/kana/vim-operator-user
	url = https://github.com/kana/vim-operator-user
[submodule "vim-plugin/andymass/vim-matchup"]
	path = vim-plugin/andymass/vim-matchup
	url = https://github.com/andymass/vim-matchup
[submodule "vim-plugin/tmhedberg/SimpylFold"]
	path = vim-plugin/tmhedberg/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold
[submodule "vim-plugin/yianwillis/vimcdoc"]
	path = vim-plugin/yianwillis/vimcdoc
	url = https://github.com/yianwillis/vimcdoc
[submodule "vim-plugin/ervandew/supertab"]
	path = vim-plugin/ervandew/supertab
	url = https://github.com/ervandew/supertab
[submodule "vim-plugin/wsdjeg/FlyGrep.vim"]
	path = vim-plugin/wsdjeg/FlyGrep.vim
	url = https://github.com/wsdjeg/FlyGrep.vim
[submodule "vim-plugin/rdnetto/YCM-Generator"]
	path = vim-plugin/rdnetto/YCM-Generator
	url = https://github.com/cposture/YCM-Generator
[submodule "vim-plugin/Xuyuanp/nerdtree-git-plugin"]
	path = vim-plugin/Xuyuanp/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "vim-plugin/mhinz/vim-signify"]
	path = vim-plugin/mhinz/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule "vim-plugin/altercation/vim-colors-solarized"]
	path = vim-plugin/altercation/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim-plugin/bsdelf/bufferhint"]
	path = vim-plugin/bsdelf/bufferhint
	url = https://github.com/bsdelf/bufferhint
[submodule "vim-plugin/Vimjas/vim-python-pep8-indent"]
	path = vim-plugin/Vimjas/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent
[submodule "vim-plugin/cposture/vim-syntastic-generator"]
	path = vim-plugin/cposture/vim-syntastic-generator
	url = https://github.com/cposture/vim-syntastic-generator
[submodule "vim-plugin/Shougo/echodoc.vim"]
	path = vim-plugin/Shougo/echodoc.vim
	url = https://github.com/Shougo/echodoc.vim
